
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/amin.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Login</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome Back</h3>
                    <!-- Login Form -->
                    
                        <div class="alert alert-danger" *ngIf="erreur==1">
                        <strong>login ou mot de passe erronés..</strong>
                        </div>
                        
                    <div class="login-form">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" name="email" class="form-control" [(ngModel)]="user.email"
                                    placeholder="Enter E-mail">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" name="password" class="form-control" [(ngModel)]="user.password"
                                    placeholder="Password">
                            </div>
                            <button type="submit" (click)="onLoggedin()" class="btn oneMusic-btn mt-30">Login</button>
                        </form>
                        <a href="/register">Inscri-vous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->
