
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/amin.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Register</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome Back</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label >first name</label>
                                <input type="text" class="form-control" name="firstname" placeholder="Enter Name">
                                
                               </div>
                            <div class="form-group" >
                                <label >last name</label>
                                <input type="text" class="form-control"  placeholder="Enter Last Name" >
                               </div>
                            <div class="form-group">
                                <label >Email address</label>
                                <input type="email" class="form-control"  placeholder="Enter E-mail">
                              </div>
                            <div class="form-group">
                                <label >phone</label>
                                <input type="number" class="form-control"    placeholder="Enter Phone">
                                </div>
                            <div class="form-group">
                                <label >City</label>
                                <input type="text" class="form-control" placeholder="Enter City">
                             </div>
                            <div class="form-group">
                                <label >Password</label>
                                <input type="password" class="form-control"  placeholder="Password">
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->
